<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>培训项目</title>
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" type="text/css" href="css/vuemodel.css">
</head>
<body>
	<div class="home-top">
		<div class="home-logo">
			<div class="home-logo-left">
				<div class="logo-box">
					<img src="img/home-logo.jpg" alt="">
				</div>
			</div>
			<div class="home-logo-rigth">
				<div class="cooperation">
					<ul>
						<li><a href="#"><img class="home-right-logo" src="img/home-logo02.png" alt="">新浪微博</a><hr /></li>
						<li><a href="#"><img class="home-right-logo" src="img/home-logo03.png" alt="">腾讯微博</a><hr /></li>
						<li><a href="#"><img class="home-right-logo" src="img/home-logo04.png" alt="">关注公众号</a><hr /></li>
						<li><a href="#"><img class="home-right-logo" src="img/home-logo05.png" alt="">来院路线</a><hr /></li>
						<li><a href="#"><img class="home-right-logo" src="img/home-logo06.png" alt="">网上报名</a></li>
					</ul>
				</div>
				<div class="consultation-img">
					<img  src="img/home-logo07.jpg"/>
				</div>
			</div>	
		</div>
		<div class="home-nav">
				<div class="nav-list">
					<ul>
						<li><a href="./index.html">首页</a></li>
						<li>
							<a href="./xyjj.html">学院介绍</a>
							<ul>
								<li><a href="./xyjj.html">帮妈适简介</a></li>
								<li><a href="#">教师团队</a></li>
								<li><a href="./fazlc.html">发展历程</a></li>
								<li><a href="#">学院优势</a></li>
							</ul>
						</li>
						<li>
							<a href="./peixun.html">培训项目</a>
							<ul>
								<li><a href="./peixunlist">催乳师培训</a></li>
							</ul>
						</li>
						<li>
							<a href="./yos.html">合作优势</a>
						</li>
						<li>
							<a href="./ronyu.html">学院荣誉</a>
						</li>
						<li>
							<a href="./jiecuxuy.html">学员风采</a>
							<ul>
								<li><a href="./jiecuxuy.html">杰出学员</a></li>
								<li><a href="./ganwu.html">学员感悟</a></li>
								<li><a href="#">学员图集</a></li>
								<li><a href="./wenda.html">学员问答</a></li>
							</ul>
						</li>
						<li>
							<a href="#">学院环境</a>
							<ul>
								<li><a href="./scene.html">教学环境</a></li>
								<li><a href="#">实操现场</a></li>
								<li><a href="#">学院活动</a></li>
								<li><a href="#">学院文化</a></li>
							</ul>
						</li>
						<li><a href="#">实训现场</a></li>
						<li>
							<a href="./xinwenlist.html">新闻资讯</a>
							<ul>
								<li><a href="#">国家政策</a></li>
								<li><a href="#">行业动态</a></li>
								<li><a href="#">视频新闻</a></li>
								<li><a href="#">视频教学</a></li>
								<li><a href="#">帮妈适新闻</a></li>
							</ul>
						</li>
						<li><a href="./hezuo.html">合作机构</a></li>
						<li>
							<a href="./Contact.html">联系我们</a>
							<ul>
								<li><a href="./Contact.html">来院路线</a></li>
								<li><a href="./signup.html">网上报名</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<div style="width: 1200px; margin: 0 auto;" id="app">
		<div class="btn-logo">
			<div class="w1200 an wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
				<div class="inav">
					<dl class="icon1">
						<a href="#"> <span class="i1"></span>
							<dt><img src="img/icon_07.png" title="中医催乳师培训" alt="中医催乳师培训"></dt>
							<dd>
								<p>中医催乳师培训</p>
							</dd></a>
						</dl> 
						<dl class="icon2">
							<a href="#"> <span class="i1"></span>
								<dt><img src="img/icon_05.png" title="中医小儿推拿师培训" alt="中医小儿推拿师培训"></dt>
								<dd>
									<p>中医小儿推拿师培训</p>
								</dd></a>
							</dl>
							<dl class="icon3">
								<a href="#"> <span class="i1"></span>
									<dt><img src="img/icon_03.png" title="中医产后康复师培训" alt="中医产后康复师培训"></dt>
									<dd>
										<p>中医产后康复师培训</p>
									</dd></a>
								</dl>

								<dl class="icon4">
									<a href="#"> <span class="i1"></span>
										<dt><img src="img/登记注册.png" title="中医灸疗师培训" alt="中医灸疗师培训"></dt>
										<dd>
											<p>中医灸疗师培训</p>
										</dd></a>
									</dl>

									<dl class="icon5">
										<a href="#"> <span class="i1"></span>
											<dt><img src="img/导师驻店.png" title="母婴保健师培训" alt="母婴保健师培训"></dt>
											<dd>
												<p>母婴保健师培训</p>
											</dd></a>
										</dl>

										<dl class="icon6">
											<a href="#"> <span class="i1"></span>
												<dt><img src="img/icon_01.png" title="月嫂培训" alt="月嫂培训"></dt>
												<dd>
													<p>月嫂培训</p>
												</dd></a>
											</dl>

											<dl class="icon1 last">
												<a href="#"> <span class="i1"></span>
													<dt><img src="img/icon_01.png" title="小儿推拿妈妈班" alt="小儿推拿妈妈班"></dt>
													<dd>
														<p>小儿推拿妈妈班</p>
													</dd></a>
												</dl>
											</div>
										</div>
									</div>
									<div class="xingwen">
										<div class="xingwen-left">
											<div class="xingweb-box">
												<div class="xingwen-left-title">
													<h5 style="float: left; font-size: 16px;">今日要闻</h5>
													<ul id="myTab" class="nav nav-tabs" >
														<li  class="active"><a href="#gjzc" data-toggle="tab">国家政策</a></li>
														<li><a href="#hydt" data-toggle="tab">行业动态</a></li>
														<li><a href="#sp" data-toggle="tab">视频新闻</a></li>
														<li><a href="#bms" data-toggle="tab">帮妈适新闻</a></li>
													</ul>
													<a href="#" style="float: right;">更多></a>
												</div>
												<div id="myTabContent"  class="xingwen-left-body tab-content">
													<div class="tab-pane fade in active" id="gjzc">
														<div class="xiaolunbo pull-left">
															<broadcast :imgsrc="xiaolunbo"></broadcast>
														</div>
														<div class="xingwen-list">
															<ul>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">盛夏8月，浪漫的七夕如约而至，金领优惠享不停！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">暑“价”来袭，金领玮业7月“大放价”，学一门送一门！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">嗨翻全场，金领8周年庆，学一送多，优惠重重！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">金领玮业4月活动公告：春暖4月 好课专享特惠等你来！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">温情五月，约“惠”金领，快来领取您的私人福利！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">3月女王节女神价到，活动多多，报名金领就减现金！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">新年聚优惠预报名200抵800元，二月春节抽千元大奖，中</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">新年新气象,金领新年开班聚优惠，好礼更是多</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">浓情岁末，真情感恩，金领12月开班优惠火爆来袭！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">温情11月 金领钜惠班 优惠送不停</a></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="hydt">
														<div class="xiaolunbo pull-left">
															<broadcast :imgsrc="xiaolunbo"></broadcast>
														</div>
														<div class="xingwen-list">
															<ul>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="sp">
														<div class="xiaolunbo pull-left">
															<broadcast :imgsrc="xiaolunbo"></broadcast>
														</div>
														<div class="xingwen-list">
															<ul>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="bms">
														<div class="xiaolunbo pull-left">
															<broadcast :imgsrc="xiaolunbo"></broadcast>
														</div>
														<div class="xingwen-list">
															<ul>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
																<li><span class="caret" style="margin-right: 10px; transform: rotate(-90deg); border-top: 4px dashed #855118;"></span><a href="#">活动啦！9月开学 季，金领优惠看这里！</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="xingwen-right">
											<div class="xingwen-notice">
												<div class="notice-title">
													<h4>开班公告</h4>
													<a href="#">更多></a>
												</div>
												<div class="notice-body">
													<ul>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
														<li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li>
													</ul>
												</div>
												<div class="notice-bottom container-fluid">
													<div class="row">
														<div class="col-lg-4" style="padding: 0;">
															<div class="notice-bottom-card">
																<a href="#">
																	<div class="zxlogo">

																	</div>
																	<div class="notice-bottom-title">
																		咨询课程
																	</div>
																</a>
															</div>
														</div>
														<div class="col-lg-4" style="padding: 0;  padding-left: 5px;">
															<div class="notice-bottom-card">
																<a href="#">
																	<div class="zxlogo yhlogo">

																	</div>
																	<div class="notice-bottom-title">
																		疑惑解答
																	</div>
																</a>
															</div>
														</div>
														<div class="col-lg-4" style="padding: 0; padding-left: 5px;">
															<div class="notice-bottom-card">
																<a href="#">
																	<div class="zxlogo mflogo">

																	</div>
																	<div class="notice-bottom-title">
																		免费试听
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid " style="padding-top: 10px;">
										<div class="row">
											<div class="contact-body-left-d" style="float: left;">
												<div class="xingwen-right" style="width: 240px;">
													<div class="xingwen-notice"  style="padding: 0;">
														<div class="notice-title">
															<h4>培训课程介绍</h4>
														</div>
														<div class="notice-body right plexu">
															<ul>
																<li><i class="caret"></i><a href="#">中医催乳师培训课程</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师妈妈班培训</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师培训课程</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师妈妈班培训</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师培训课程</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师妈妈班培训</a></li>
																<li><i class="caret"></i><a href="#">中医催乳师培训课程</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-7">
												<div class="youxuimg">
													<div class="xingwen-left-title" style=" padding-bottom:10px; ">
														<h5 style="float: left; font-size: 16px; margin-left: 25px;">帮妈适学费多少钱？</h5>
													</div>
													<div class="container-fluid">
														<div class="row">
															<div class="col-md-offset-2 col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class=" col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-md-offset-2 col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class=" col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class="col-md-offset-2 col-lg-4" style="padding: 0 10px; margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
															<div class=" col-lg-4" style="padding: 0 10px;margin-top: 10px;">
																<a class="tiwen-box">
																	<span class="tiwen-img"></span>
																	<span style="position: absolute; font-size: 16px; top: 8px; left: 50px;">帮妈适学费多少钱？</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="xingwen-right"><div class="xingwen-notice" style="padding: 0;"><div class="notice-title"><h4>开班公告</h4> <a href="#">更多&gt;</a></div> <div class="notice-body"><ul><li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> <li><span></span><a href="#">2018年9月8日帮妈适疚疗师培训上海开</a></li> </ul></div> </div></div>
										</div>
									</div>
									<div class="sign-up">
										<div class="sign-up-title">
											帮妈适教育与其实培训区别对比
										</div>
										<div class="sign-up-body">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th style="width: 16%; background-color: #D0B688; color: #000;"></th>
														<th style="width: 50%; background-color: #C19F66; color: #000;">上海帮妈适职业教育学院</th>
														<th style="width: 37%; background-color: #A2A2A2; color: #000;">其实培训机构</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
													<tr>
														<th style="background-color: #F7F1E2; color: #000; vertical-align: middle;">理论课程体系</th>
														<td style="background-color: #DBC6A1;">完善的中医理论课程体系，帮妈适深入研发规范培训模式，采用中医理论《小课堂》授课模式，让学员能将中医理论知识与中医催乳实操完美结合。</td>
														<td style="text-align: center; background-color: #D0CECA;">无完善理论课程体系教学，更无中医理论课程体系！<br>
															<strong>学习中医催乳师，中医理论知识过硬非常重要。</strong>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="college">
										<div class="xingweb-box">
											<div class="xingwen-left-title">
												<h5 style="float: left; font-size: 16px;">魅力学院</h5>
												<ul id="myTab" class="nav nav-tabs" >
													<li  class="active"><a href="#jxhj" data-toggle="tab">教学环境</a></li>
													<li><a href="#xc" data-toggle="tab">实操现场</a></li>
													<li><a href="#hd" data-toggle="tab">学院活动</a></li>
													<li><a href="#wh" data-toggle="tab">学院文化</a></li>
												</ul>
												<a href="#" style="float: right;">更多></a>
											</div>
											<div id="myTabContent"  class="xingwen-left-body tab-content">
												<div class="tab-pane fade in active" id="jxhj">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml03.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml02.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-right">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml05.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>
												<div class="tab-pane fade" id="xc">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml03.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml02.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-right">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml05.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>
												<div class="tab-pane fade" id="hd">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml03.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml02.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-right">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml05.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>
												<div class="tab-pane fade" id="wh">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml03.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml02.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-right">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml05.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="college">
										<div class="xingweb-box">
											<div class="xingwen-left-title" style="padding: 0 0 10px 0;">
												<h5 style="float: left; font-size: 16px;">名师风采</h5>
												<a href="#" style="float: right;">更多></a>
											</div>
											<div class="owl-box">
												<span class="glyphicon glyphicon-menu-left click-left" data-click="one"></span>
												<span class="glyphicon glyphicon-menu-right click-right" data-click="one"></span>
												<div class="owl-carousel owl-theme owl-one">
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #855118;">
																<p style="color: #855118; font-weight: 900;">刘莉雅  老师</p>
																<span>毕业于安徽医科大学</span>
															</div>
														</div>
													</div>
												</div> 
											</div>	
										</div>
									</div>
									<div class="college">
										<div class="xingweb-box">
											<div class="xingwen-left-title" style="padding: 0 0 10px 0;">
												<h5 style="float: left; font-size: 16px;">学员风采</h5>
												<a href="#" style="float: right;">更多></a>
											</div>
											<div class="owl-box">
												<span class="glyphicon glyphicon-menu-left click-left" data-click="tow"></span>
												<span class="glyphicon glyphicon-menu-right click-right" data-click="tow"></span>
												<div class="owl-carousel owl-theme owl-tow">
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="zheshui">
															<img src="img/lyl.jpg" alt="">
															<div class="zheshui-title" style="font-size: 15px; color: #696969;">
																<p style="color: #000000; font-weight: 900;">杰出校友-刘莉雅</p>
																<span>让更多的宝宝健康成长</span>
																<p style="margin-top: 10px; color: #BE8E47; font-size: 18px; font-weight: 900;">30000元/月</p>
															</div>
														</div>
													</div>
												</div> 
											</div>	
										</div>
									</div>
									<div class="college">
										<div class="xingweb-box">
											<div class="xingwen-left-title">
												<h5 style="float: left; font-size: 16px;">学员感悟</h5>
												<ul id="myTab" class="nav nav-tabs" >
													<li  class="active"><a href="#xygw" data-toggle="tab">学员感悟</a></li>
													<li><a href="#xytj" data-toggle="tab">学员图集</a></li>
												</ul>
												<a href="#" style="float: right;">更多></a>
											</div>
											<div id="myTabContent"  class="xingwen-left-body tab-content">
												<div class="tab-pane fade in active" id="xygw">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>
												<div class="tab-pane fade" id="xytj">
													<div class="college-box">
														<div class="college-left">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml01.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml03.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-z">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml04.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml02.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>
														<div class="college-right">
															<div class="college-card">
																<a href="#">
																	<img src="img/xyml05.jpg" alt="">
																	<div class="college-card-title">
																		结业证书、中医催乳培训证书、无限制实践技能
																	</div>
																</a>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<a href="#" style="display: block;">
											<img src="img/41101.jpg">
										</a>
									</div>
									<div style="padding: 10px 0;">
										<h1 style="font-size: 40px;color: #000; text-align: center; padding: 10px 0;  padding-bottom: 20px;
										border-bottom: solid 1px #CBAF81;">如果您还有疑问，我们在这里在为您解答</h1>
										<div id="zy_list">
											<ul>
												<li><a title="不知道是否适合学" class="zxUrl" href=""><img src="img/yw1.jpg" alt="不知道是否适合学" /></a></li>
												<li><a class="zxUrl" href="" title="毕业后拿什么学历"><img src="img/yw2.jpg" alt="毕业后拿什么学历" /></a></li>
												<li><a class="zxUrl" href="" title="最适合哪些人学"><img src="img/yw3.jpg" alt="最适合哪些人学" /></a></li>
												<li><a class="zxUrl" href="" title="学费多少钱"><img src="img/yw4.jpg" alt="学费多少钱" /></a></li>
												<li><a class="zxUrl" href="" title="学不会怎么办"><img src="img/yw5.jpg" alt="学不会怎么办" /></a></li>
												<li><a class="zxUrl" href="" title="网上预约报名"><img src="img/yw6.jpg" alt="网上预约报名" /></a></li>
												<div class="clear"></div>
											</ul>
										</div>
									</div>
								</div>




								<div class="home-bottom">
									<div class="cooperate">
										<div class="college">
											<div class="xingweb-box">
												<div class="xingwen-left-title" style="padding-top: 3px;">
													<h5 style="float: left; font-size: 16px;">学院实力</h5>
													<ul id="myTab" class="nav nav-tabs" >
														<li  class="active"><a href="#hzjg" data-toggle="tab">合作机构</a></li>
														<li><a href="#xyry" data-toggle="tab">学院荣誉</a></li>
														<li><a href="#yqlj" data-toggle="tab">友情链接</a></li>
													</ul>
													<a href="#" style="float: right;">更多></a>
												</div>
												<div id="myTabContent"  class="xingwen-left-body tab-content">
													<div class="tab-pane fade in active" id="hzjg">
														<div class="cooperate-logo-box">
															<ul>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="xyry">
														<div class="cooperate-logo-box">
															<ul>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="yqlj">
														<div class="cooperate-logo-box">
															<ul>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
																<li><img src="img/cooperate.png" alt=""></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="">

									</div>

								</div>

								<script type="text/x-template" id="broadcast">
									<div class="lunbo">
										<div class="slide fl" @mouseover="Stop" @mouseout="implement">
											<div class="baner-img">
												<transition name="fade" v-for="(url,i) in imgsrc" :key="url" >
													<div class="images"  :key="i" v-show="initial==i">
														<a href="javascript:"><img :src="url" alt="hahaha"></a>
													</div>
												</transition>
											</div>
											<div class="slide-box">
												<a href="javascript:" class="cut-btn backward tabBtn" @click="initial--"><i class="iconfont">←</i></a>
												<a href="javascript:" class="cut-btn forward tabBtn" @click="initial++" ><i class="iconfont">→</i></a>
												<div class="tabs">
													<a href="javascript:"   v-for="(url,i) in imgsrc" :class="{ 'on' : initial == i }" @click="initial=i" :key="i"></a>
												</div>
											</div>
										</div>
									</div>
								</script>

								<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
								<script src="js/jquery-3.3.1.js"></script>
								<script src="js/owl.carousel.min.js"></script>
								<script src="js/bootstrap.min.js"></script>
								<script src="js/home.js"></script>
								<script>
									new Vue({
										el:'#app',
										data:{
											imglist:[
											'./img/homelunbo.jpg',
											'./img/homelunbo.jpg',
											'./img/homelunbo.jpg',
											'./img/homelunbo.jpg',
											'./img/homelunbo.jpg',
											'./img/homelunbo.jpg',
											],
											xiaolunbo:[
											'./img/xiaolunbo.jpg',
											'./img/xiaolunbo.jpg',
											'./img/xiaolunbo.jpg',
											'./img/xiaolunbo.jpg',
											'./img/xiaolunbo.jpg',
											'./img/xiaolunbo.jpg',
											],
											teacher:[
											{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											},{
												teachername:'刘莉雅',
												teacherxx:'毕业于安徽医科大学',
												teacherimg:'./img/lyl.jpg'
											}
											]

										}
									})
									$(document).ready(function(){
										$('.owl-carousel').owlCarousel({
											dots:false,
											autoplay:true,
											autoplayTimeout:3000,
											autoplayHoverPause:true,
											mouseDrag:false,
											smartSpeed:1000,
											loop:true,
											responsive:{
												0:{
													items:1
												},
												600:{
													items:3
												},
												1000:{
													items:6
												}
											}
										})
									});      
								</script>
							</body>
							</html>